html
  head
    script(src="https://code.jquery.com/jquery-1.11.2.js")
    link(rel="stylesheet" href="./circle.css")
  body
    div.circle-container
      div.circle.outer
        div.circle.inner
          div.timer
            | 1:32:10
    script(src="circle.js")
