html
  head
    script(src="https://code.jquery.com/jquery-1.11.2.js")
    link(rel="stylesheet" href="./circle.css")
  body
    div.rad-progress
      div.circle
        div.mask
          div.fill
    div.circle.inner
      | 1:32:10

    script(src="circle.js")
