html
  head
    script(src="https://code.jquery.com/jquery-1.11.2.js")
    link(rel="stylesheet" href="./circle.css")
  body
    div.progress-radial.progress-90
      div.overlay 1:32:10
    script(src="circle.js")
