html
  head
    script(src="https://code.jquery.com/jquery-1.11.2.js")
    link(rel="stylesheet" href="./circle.css")
  body
    .radial-progress
      .circle
        .mask.full
          .fill
        .mask.half
          .fill
          .fill.fix
      .inset
        .timer 0
    script(src="circle.js")
