html
  head
    script(src="https://code.jquery.com/jquery-1.11.2.js")
    link(rel="stylesheet" href="./circle.css")
  body
    .circle-container
      .circle
        .circle-inner.timer 1:20:30
      .slice
        .pie.left
        .pie.right
    script(src="circle.js")
