html
  head
    script(src="https://code.jquery.com/jquery-1.11.2.js")
    script(src="bower_components/progressbar.js/dist/progressbar.js")
    link(rel="stylesheet" href="./circle.css")
  body
    div.prog-container(data-timeout="2015-02-14 00:00:00")
      div#example-percent-container
      div.texts
        div 締め切りまで
        div.timer
    script(src="prog.js")
